// Extra small screen / phone
$screen-xs-min:              512px !default;

// Small screen / tablet
$screen-sm-min:              640px !default;

// Medium screen / desktop
$screen-md-min:              896px !default;

// Large screen / wide desktop
$screen-lg-min:              1280px !default;

// Large screen / wide desktop
$screen-xlg-min:              1536px !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-lg-max:              ($screen-xlg-min - 1) !default;

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;

$shadow-depth-0: 0 2px 0 rgba(0,0,0,0.15);
$shadow-depth-1: 0 2px 2px rgba(0,0,0,0.25);
$shadow-depth-2: 0 3px 5px rgba(0,0,0,0.25);
$shadow-depth-3: 0 5px 6px rgba(0,0,0,0.25);
$shadow-depth-4: 0 6px 10px rgba(0,0,0,0.3);
